.select-row {
	display: flex;
	flex-direction: row;
	padding-right: 20px;
	@media screen and (max-width: 576px) {
		flex-direction: column;
	}
}
#pvz_map {
	width: 80%;
	height: 70vh;
}

#pvz-info {
	width: 20;
}
