/**************************\
  Basic Modal Styles
\**************************/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center; }

.modal__container {
  background-color: #fff;
  padding: 42px;
  max-width: 900px;
  max-height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  z-index: 1000; }
  @media screen and (min-width: 1024px) {
    .modal__container {
      min-width: 90vw; } }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .modal__container {
      min-width: 768px; } }
  @media screen and (max-width: 767px) {
    .modal__container {
      min-width: 90vw; } }
  .modal__container .row-accept {
    margin-top: 0.75em; }
  .modal__container .order-tooltip {
    font-size: 12px; }

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.modal__title {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: black;
  box-sizing: border-box; }

.modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  width: 45px;
  height: 45px; }
  .modal__close:before, .modal__close:after {
    content: '';
    position: absolute;
    top: 0;
    right: 22px;
    background-color: #b2b2b2;
    color: #b2b2b2;
    height: 45px;
    width: 2px;
    display: inline-block; }
  .modal__close:before {
    transform: rotate(45deg); }
  .modal__close:after {
    transform: rotate(-45deg); }
  .modal__close:hover:before, .modal__close:hover:after {
    background: black; }

.modal__content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8); }

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out; }

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.modal__btn-primary {
  background-color: #00449e;
  color: #fff; }

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes mmfadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes mmslideIn {
  from {
    transform: translateY(15%); }
  to {
    transform: translateY(0); } }
@keyframes mmslideOut {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-10%); } }
.micromodal-slide {
  display: none; }

.micromodal-slide.is-open {
  display: block; }

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1); }

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform; }

.modal {
  display: none; }

.modal.is-open {
  display: block !important; }

.select-row {
  display: flex;
  flex-direction: row;
  padding-right: 20px; }
  @media screen and (max-width: 576px) {
    .select-row {
      flex-direction: column; } }

#pvz_map {
  width: 80%;
  height: 70vh; }

#pvz-info {
  width: 20; }

/*# sourceMappingURL=app.css.map */
